@import url('style.css');

*{
    padding: 0;
    margin: 0;
}

.container-conteudo img{
    border-radius: 10%;
    padding-bottom: 10px;
    min-width: 20vw;
    max-width: 20vw;
    max-height: 35vh;
    min-height: 35vh;
    display: block;
}

.container-conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 60vw;
    margin: 0 auto;
    margin-bottom: 5vh;
}
.container-conteudo>div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}
.texto{
    font-size: 27px;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.text{
    font-size: 35px;
    margin-top: 2vh;
}
.tit-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 52px;
}


